.task_sub_tasks{
    width:65%;
    margin: 100px auto 0;
}
.task2_card {
    padding: 12px 20px 20px;
    margin: 10px;
    width:100%;
    background:#fbf9f999;
}

#hr{
    width: 60%;
    color: #fff;
}

.tskd {
    padding: 12px 20px;
    margin: 10px;
}

.task2_card2 {
    padding: 12px 20px;
    margin: 10px;
    width:100%;

}
.task2-data {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
    color: #fff;
}
.task2-content {
    color: #000;
    font-size: 14px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #e3e3e3; */
}
.task2-foot {
    padding-bottom:20px;
    padding-top:15px;
    border-top:1px solid #e3e3e3;
}
.vote{
    color: #202020;
    font-size: 18px;
    float:right;
    outline: none;
    box-sizing: border-box;
    width:100px;
}
#comment{
    color: #1d1d1d;
    font-size: 13px;
    float:right;
    margin-left:350px;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    width:270px;
    border: none;
}
#comment em{
    color: #7f2aff;
}
#task_card {
    background: #fff;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#tsk-foot {
    padding-bottom: 5px;
    margin-bottom: 0;
    border-bottom:1px solid #e3e3e3;
}
#right{
    float:right;
}
#left{
    float:left;
}
.but{
    border: none;
    cursor: pointer;
    background: #0d67b7;
    border-radius:25px;
    color: #fff;
    margin:20px;
    font-size: 12px;
    padding: 12px;
    outline: none;
    box-sizing: border-box;
    transition: 0.5s;
}
.active, .but:hover {
    background-color: #1d1d1d;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



.tasking{
    width: 100%;
}
.tasking .input-box {
    margin: 20px 0;
}
.tasking .input-box input, .tasking .input-box textarea {
    width: 100%;
    font-size: 17px;
    padding: 12px;
    color: #777;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}
.tasking .input-box textarea {
    height: 52px;
}
.tasking .input-box input:focus,
.tasking .input-box input:valid {
    border-bottom: 0.5px solid #7f2aff;
    transition: 0.5s;
}
.tasking .input-box textarea:focus,
.tasking .input-box textarea:valid {
    border-bottom: 0.5px solid #7f2aff;
}
.tasking .input-box input[type="submit"] {
    border: none;
    background: #7f2aff;
    border-radius:25px;
    color: #fff;
    font-weight: bold;
}
.tasking .input-box input[type="submit"]:hover {
    background: #1d1d1d;
    transition: 0.5s;
}
/*---   css for the sub-task box   ---*/
.forme{
    width: 100%;
    margin: 47px auto 25px;
}
.forme .input-box {
    margin: 20px 0;
}
.forme .input-box input {
    width: 100%;
    font-size: 17px;
    padding: 12px;
    color: #777;
    border: 1px solid #ccc;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
.forme .input-box input:focus,
.forme .input-box input:valid {
    border-bottom: 0.5px solid #7f2aff;
    transition: 0.5s;
}
.forme .input-box input[type="submit"] {
    border: none;
    background: #7f2aff;
    border-radius:25px;
    width:20%;
    color: #fff;
    font-weight: bold;
}
.forme .input-box input[type="submit"]:hover {
    background: #1d1d1d;
    transition: 0.5s;
}
